body {
    background-image: url(beach.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    margin: 30px;
}

h1 {
    text-align: center;
    padding: 0.02cm;
    color: lightcoral;
    text-shadow: 1px 2px whitesmoke;
    font-style: italic;
    font-size: 70px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-style: oblique;
    background-color: #ffffff;
    border: 1px black;
    border-radius: 10px;
    padding: 5px;
    opacity: 0.88;
    filter: alpha(opacity=60);
}

h3 {
    font-style: normal;
    text-align: center;
}

img {
    width:150px; /* you can use % */
    height: auto;
    border-radius: 100%;
}

ul {
    background-color: greenyellow;
}

a {
    text-decoration: none;
    text-decoration-color: aqua;
}